@font-face {
  font-family: gothic;
  src: url("Blacklettersh.ttf");
}

@font-face {
  font-family: chomsky;
  src: url("Chomsky.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: rgba(239, 11, 11, 0.974);
  font-size: clamp(3.5rem, 8vw, 6rem);
  font-family: gothic;
}

button{
  font-family: chomsky;
  font-size: 1.7rem;
  border-radius: 10px;
  color: red;
  cursor: pointer;
  padding: 0 0.4rem;
  background-color: black;
  border: 2px solid red
}

button:hover{
  background-color: red;
  color: white
}

iframe{
  border: none;
  width: min(55vw, 650px);
  height: auto;
  aspect-ratio: 7 / 5;
  margin: 2rem 1rem;
}

.space-taker{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  font-family: chomsky;
  color: rgba(239, 11, 11, 0.974);
  font-size: 2rem
}

a{
  color: rgba(239, 11, 11, 0.974);
  text-decoration: none;
  text-transform: none
}

a:hover{
  text-decoration: none;
  text-transform: none;
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  iframe {
    width: min(90vw, 700px);
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
  button {
    margin-top: 2rem;
  }
  iframe {
    width: 100%;
    max-width: none;
    margin: 2rem 0;
  }
  footer{
    font-size: 1.8rem
  }
}
